html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.top-wrapper {
padding: 180px 0 100px 0;
background-image: url(https://images.unsplash.com/photo-1555603130-e59ed50b6afe?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9);
background-size: cover;
color: white;
text-align: center;
 }



.container {
width: 1170px;
margin: 0 auto;
}

.top-wrapper h1 {
opacity: 0.7;
font-size: 45px;
letter-spacing: 5px;
}

.top-wrapper p {
opacity: 0.7;
 margin-bottom: 15px;
}

.signup {
background-color: #239b76;
margin-top: 15px;
margin-bottom: 15px;
 }

.facebook {
background-color: #3b5998;
 margin-right: 10px;
}

 .twitter {
 background-color: #55acee;
}

.btn {
padding: 8px 24px;
color: white;
display: inline-block;
opacity: 0.8;
border-radius: 4px;
}

 .btn:hover {
 opacity: 1;
}

.fa {
margin-right: 5px;
 }

 header {
  background-color:rgba(34,49,52,0.9);
  height: 65px;
  width: 100%;
  position:fixed;
  z-index:10;
 }



 .header-left {
   float:left;
 }
 .header-right {
    background-color:rgba(255,255,255,0.3);
    float:right;
    transition:all 0.5s;
    height:65px;
 }

.header-right a {
   display:block;
   padding:0 25px;
   color:white;
   line-height: 65px;
 }

 .header-right:hover {
   background-color:rgba(225,255,255,0.5);
 }

 .logo {
   height:55px;
   margin:5px 0;
 }

 .header-left p {
   list-style: none;
   float: left;
   color: white;
   opacity: 0.8;
   font-size: 30px;
   padding:10px 0;
   margin:0 10px;
 }

 .lesson-wrapper{
   text-align:center;
   height:580px;
   background-color:#f7f7f7;
 }



 .headding  {
   padding-top:80px;
   padding-bottom:50px;
   color: #5f5d60;
 }

 .headding h2 {
    font-weight:normal;
 }

 .lesson-icon p {
   color:red;
   position:absolute;
   top:44%;
   width:100%;
 }

 .lesson {
   width:25%;
   float:left;
   text-align:center;
   position:relative;
 }

 .lesson-text {
width: 80%;
display: inline-block;
margin-top: 15px;
font-size: 13px;
color: #b3aeb5;
 }

.message-wrapper {
  text-align:center;
  padding-bottom:80px;
}

.container {
  margin:0 auto;
}

.headding {
  padding-top:80px;
  padding-bottom:50px;
}

.message{
  color:white;
  display:inline-box;
  padding:15px 40px;
  background-color:#5dca88;
  opacity:0.8;
  box-shadow:0 7px #1a7940;
  cursor:pointer;
  margin-bottom:80px;
  border-radius: 4px;
}


.message:active {
  box-shadow:none;
  position:relative;
  top:7px;
}

.foot {
  border:solid 1px #eee;
  color:#b3aeb5;
  padding:30px 0;
  font-size:12px;
}

.log {
  width:124px;
}

.contact{
  padding-top:100px;
  margin-left:80px;
}




input,textarea{
  width:400px;
  margin-bottom:30px;
  margin-top:10px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.submit{
  background-color: #dee7ec;
  color: #889eab;
}

.foot {
  border:solid 1px #eee;
  color:#b3aeb5;
  padding:5px 0;
  font-size:10px;
}

.log {
  width:40px;
}

